.container {
  /* .bg-img {
    background-image: url("/assets/bg18.webp");
    background-size: cover;

    background-position: 10% 100%;
    height: 100vh;
  } */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  width: 40%;
  height: 85vh;
  margin-left: 520px;
  margin-top: 100px;
  background-color: rgb(221, 211, 211);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: 800;

  /* padding-bottom: 30px; */
}

.password {
  font-family: "MierB03", "Helvetica", "Arial", sans-serif;
  .sub1 {
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
  }

  .sub2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #08a510;
  }

  .display {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 650px;
    height: 50px;
    border-radius: 9px;
    margin-top: 50px;
    margin-bottom: 20px;
    background: white;
    color: black;
    /* padding: 26px, 20px; */
    justify-content: space-between;
    gap: 1rem;
  }
}

.copy {
  width: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.regenerate {
  width: 23px;
  /* padding-left: 200px; */
}

.password .display input {
  border: 0;
  outline: 0;
  padding: 10px;
  margin: 10px;
  width: 500px;
  height: 10px;
}

.length-wrapper {
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  font-size: 25px;
  margin-bottom: 50px;
  margin-left: 44px;

  .password-length {
    margin-right: 40px;
    display: flex;
    gap: 1rem;
  }

  .lengthValue {
    padding-right: 20px;
  }
}

.slider {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  .min-max {
    .min-max-btn {
      display: none;
    }
  }
}

#lengthSlider {
  /* -webkit-appearance: none; 
  appearance: none;
  width: 250px;
  height: 10px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s; */

  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 500px;
  cursor: pointer;
  outline: none;
  /* border-radius: px; */
  /*  overflow: hidden;  remove this line*/

  /* New additions */
  height: 6px;
  background: #ccc;
  margin-right: 20px;
}

#lengthSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  height: 15px;
  width: 15px;
  background-color: #f50;
  border-radius: 50%;
  border: none;

  transition: 0.2s ease-in-out;

  /* height: 15px;
  width: 15px;
  background-color: #f50;
  border-radius: 50%;
  border: none; */

  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  /* transition: 0.2s ease-in-out; */
}

/* Category styles */
.category {
  font-family: "Montserrat";
  background: #e4d6d6;
  color: rgb(0, 0, 0);
  font-weight: 200;
  display: grid;
  place-items: center;
  font-size: 20px;
  letter-spacing: 2px;
}

/* Character type styles */
.character-type {
  width: min(100%, 680px);
  padding-bottom: 20px;

  display: flex;
  justify-content: space-between;

  background: #b8b6b6;
  border-radius: 8px;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;

  /* Card styles */
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .fxn {
      padding: 10px;
      margin-top: 15px;
    }
  }
}
section {
  margin-right: 10px;
  margin-top: 20px;
}

/* Button wrap styles */
.btn-wrap {
  position: relative;
  background: #eee;
  width: 60px;
  height: 30px;
  border-radius: 100vh;
  transition: background 0.4s ease;
}

.btn-wrap::before {
  /* content: "";
  position: absolute;
  inset: 0;
  left: 0;
  width: 30px; */
  /* border-radius: 100vh; */
  /* background: #888;
  transition: transform 0.4s ease; */
  transform: translateX(30px);
}

.btn-wrap:has(input[type="checkbox"]:checked) {
  background: #80ed99;
}

.btn-wrap input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

#passwordInput {
  display: none;
}

#passwordStrengthImg {
  width: 150px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin-left: 280px;
  padding-bottom: 30px;
  height: 150px;
}

.generate {
  display: none;
}
