body {
  background: rgb(241, 241, 241);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 3px solid #4d4d4d;
  border-radius: 12px;
  width: 30%;
  padding: 30px;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 20px;
  color: #4e4e4e;
  background-color: rgb(255, 255, 255);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  font-size: 20px;
  line-height: 1rem;
  font-weight: 800;
}

.password {
  .sub1 {
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
  }

  .sub2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #08a510;
  }

  .display {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 40px;
    border: 3px solid #4d4d4d;

    border-radius: 9px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgb(241, 241, 241);
    color: black;
    padding: 30px;
    justify-content: space-between;
    gap: 1rem;

    #pass {
      background: inherit;
      width: 80%;

      padding: 5px 5px;
      outline: none;
      border: 0;
    }
  }
}

.copy {
  width: 20px;
  cursor: pointer;
}

.regenerate {
  width: 23px;
}

.length-wrapper {
  display: flex;

  flex-direction: row;
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 24px;

  .password-length {
    margin-right: 10px;
    display: flex;
    gap: 1rem;
    font-size: 20px;
    font-weight: 900;
  }

  .lengthValue {
    padding-right: 20px;
  }
}

.slider {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  .min-max {
    .min-max-btn {
      display: none;
    }
  }
}

#lengthSlider {
  -webkit-appearance: none;
  appearance: none;
  margin-right: 10px;
  cursor: pointer;
  outline: none;
  width: 270px;
  height: 6px;
  background: #ccc;
}

#lengthSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  height: 15px;
  width: 15px;
  background-color: #f50;
  border-radius: 50%;
  border: none;

  transition: 0.2s ease-in-out;
}

.category {
  background: #ffffff;
  color: rgb(71, 71, 71);
  font-weight: 900;
  display: grid;
  place-items: center;
  font-size: 14px;
}

.character-type {
  width: min(100%, 680px);
  padding-bottom: 10px;

  display: flex;
  justify-content: space-between;

  border-radius: 8px;
  flex-direction: column;

  margin-top: 5px;

  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .fxn {
      padding: 10px;
      margin-top: 15px;
    }
  }
}
section {
  margin-right: 10px;
  margin-top: 20px;
}

.btn-wrap {
  position: relative;
  background: #eee;
  width: 20px;
  border: 1px solid gray;
  height: 20px;
  border-radius: 100vh;
  transition: background 0.2s ease;
}

.btn-wrap::before {
  transform: translateX(30px);
}

.btn-wrap:has(input[type="checkbox"]:checked) {
  background: #424242;
}

.btn-wrap input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

#passwordInput {
  display: none;
}

#passwordStrengthImg {
  width: 120px;

  margin-left: 170px;
  padding-bottom: 5px;
  height: 120px;
}

.generate {
  display: none;
}
